.single,
.page {
	.hentry {
		position: relative;
		border-bottom: 1px solid #eee;
		margin: 60px 0;
		padding-bottom: 35px;		
	}
	h1.entry-title {
		font-size: 36px;
		line-height: 1.2em;
		display: block;
		font-weight: 400;
		margin-bottom: 35px;
	}
}

/* Related Posts */
.entry-related {
	width: 100%;
	margin-bottom: 80px;
	ul li {
		float: left;
		list-style: none;
		width: 31.3333%;
		padding-right: 3%;
		box-sizing: content-box;
		
		&:last-child {
			padding-right: 0;
		}
		img {
			width: 100%;
			margin-bottom: 5px;
			}
		a {
			display: block;
		}	
		.entry-title {
			font-size: 16px;
			font-weight: normal;
			margin-bottom: 5px;
		}
		.entry-meta {
			font-size: 11px;
			font-style: italic;
		}
	}

}

.entry-content {
	margin-bottom: 40px;
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-bottom: 20px;
	}
	strong {
		font-weight: 700;
	}
	p {
		line-height: 1.6;
		margin-bottom: 30px;
	}
	ul,
	ol {
		margin: 0 0 20px 20px;
	}
	ul li {
		list-style: disc inside;
		margin: 10px 0;
	}
	ol li {
		list-style: decimal;
		margin: 10px 0;
	}
}

.post-nav {
	margin-top: 80px;
	overflow: hidden;
	.nav-prev {
		float: left;
		width: 49%;
		.arrow {
			float: left;
			margin-right: 18px;
		}
	}
	.nav-next {
		float: right;
		text-align: right;
		width: 49%;
		.arrow {
			float: right;
			margin-left: 18px;
		}
	}
	span {
		color: #999;
		font-size: 11px;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
	.arrow {
		font-size: 64px;
		color: #ddd;
		line-height: 64px;
	}
	h5 {
		color: #999;
		font-size: 16px;
		font-weight: normal;
	}
	a {
		color: #999;
		&:hover {
			color: $black;
			> {
				.arrow,				
				.nav-text span,
				.nav-text h5 {
					color: $black;
				}
			}
		}
	}
}
.nav-text {
	margin-top: 11px;
}


blockquote {
	color: #999999;
	font-size: 22px;
	font-style: italic;
	padding: 0.25em 50px;
	line-height: 1.45;
	position: relative;

	&:before {
		display: block;
		content: "\201C";
		font-size: 80px;
		position: absolute;
		left: -10px;
		top: -20px;
		color: #cccccc;
	}

	cite {
		color: #333333;
		display: block;
		margin-top: 10px;

		&:before {
			content: "\2014 \2009";
		}
	}
}
/* Members */
.members {
	margin: 0 !important;
	padding: 0;

	.member {
		padding: 2% 0 2% 4%;
		width: 45%;
		float: left;
		list-style: none;

		&:nth-of-type(2n+1) {
			clear: left;
			padding-left: 0;
		}

		.member-photo {
			float: left;
			width: 100px;
			max-width: 100%;
			margin-right: 30px;
			img {
				border-radius: 50%;
				margin-bottom: 20px;
				width: 100%;
			}
			.member-social {
				list-style: none;
				margin: 0;
				padding: 0;
				li {
					display: inline-block;
					font-size: 12px;
					margin: 0 2px;
				}		
			}	
		}
		.member-content {
			position: relative;
			overflow: hidden;
			&:before {
				content: '';
				width: 56px;
				height: 1px;
				background: #dededc;
				position: absolute;
				top: 0;
			}
			.member-name {
				margin: 18px 0 0;
			}
			.member-position {
				color: #999;
			}
			.member-desc {
				line-height: 1.5em;
			}	
		}		
	}
}

.block-title,
#respond .comment-reply-title {
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 40px;
	span {
		display: inline-block;		
	}
}
.entry-author {
	margin-bottom: 80px;
	.avatar {
		border-radius: 50%;
		float: left;
		margin-right: 15px;
	}
	h5 {
		font-size: 16px;
		font-weight: normal;
		margin-bottom: 10px;
		@extend .black;
	}
	p {
		margin-bottom: 12px;
	}
	.social-links {
		a {
			color: #cacaca;
			font-size: 13px;
			margin-right: 10px;
		}
	}

}